body{
    background-color:#eedfc5 ;
}
.container-general {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #943573;
  }
  
  .respuestas {
    display: flex;
    justify-content: center;
  }
  
  .respuestas p {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .button {
    padding: 10px 20px;
    background-color: #943573;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color:  #943573;
  }
.imagen{
  width: 300px;
  height: 300px;
  }

.imagen1{
    width: 300px;
    height: 150px;
  }
